.main{
    position: relative;
    overflow: hidden;
    height: 100vh;
    .swiper-slide{
        opacity: 0!important;
    }
    .swiper-slide-active{
        opacity: 1!important;
    }
    &__slider{
        position: relative;
        height: 100%;
    }
    &__slide{
        opacity: 0;
        height: 100%;
        position: relative;
        overflow: hidden;
        &--active{
            opacity: 1;
        }
    }
    &__content{
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translate(0,-50%);
    }
    &__bottom{
        pointer-events: none;
        position: absolute;
        bottom: toRemM(36);
        left: 0;
        min-width: 100%;
        z-index: 1;
    }
    &__slide-count{
        color: #fff;
        font-size: toRemM(18);
        line-height: toRemM(20);
        position: absolute;
        right: 0;
        bottom: 0;
        span{
            color: rgba(#fff, 0.5);
        }
    }
    &__wrapper{
        position: relative;
    }
    &__background{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        img{
            position: absolute;
            min-width: 100%;
            min-height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-40%,-50%);
            height: 100%;
            @media (min-width: 900px) {
                transform: translate(-50%,-50%);
            }
        }
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: #000000;
            opacity: 0.5;
            z-index:1;
        }
    }
    &__top{
        margin-bottom: toRemM(8);
        span{
            position: absolute;
            bottom: toRemM(32);
            left: 6.25%;
            z-index: 1;
            background: $gray5;
            border-radius: toRemM(4);
            padding: toRemM(6) toRemM(12);
            box-sizing: border-box;
            font-size: toRemM(20);
            line-height: toRemM(28);
            color: #000;
            &::before{
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                transform: translate(75%, -50%);
                border-radius: toRemM(5);
                height: 100%;
                width: toRemM(11);
                background: url('/public/media/img/main/triangle.svg') center no-repeat;
            }
        }
        p{
            font-size: toRemM(20);
            line-height: toRemM(28);
            color: #fff;
            pointer-events: none;
        }
    }
    &__text{
        span{
            font-size: toRemM(20);
            line-height: toRemM(28);
            color: #fff;
            max-width: toRemM(135);
            pointer-events: none;
        }
        h2{
            color: #fff;
            pointer-events: none;
            font-family: serif-reg;
            font-size: toRemM(38);
            max-width: toRemM(360);
            margin-top: toRemM(24);
            @media (min-width: 400px) {
                br{
                    display: none;
                }
            }
        }
        p{
            @media (max-width: 1199px) {
                display: none;
            }
        }
    }
    &__button{
        &--transparent{
            @media (max-width: 1199px) {
                display: none;
            }
        }
        &--yellow{
            margin-top: toRemM(32);
        }
        &--prev,&--next{
            display: inline-block;
            vertical-align: middle;
            margin-bottom: -(toRemM(10));
            width: toRemM(40);
            height: toRemM(40);
            text-align: center;
            position: relative;
            pointer-events: all;
        }
        &--prev{
            margin-right: toRemM(10);
            &::before{
                transform: translate(-50%,-50%) rotate(-180deg);
            }
        }
    }
    &__process{
        position: absolute;
        z-index:2;
        bottom: 0;
        height: toRemM(3);
        background: $green;
        transform-origin: left;
        @media (max-width: 1199px) {
            left: 0;
            min-width: 100%;
            transform: scaleX(0);
        }
    }
    @media (min-width: 1200px) {
        height: 100vh;
        &__top{
            margin-left: span(1 of 12);
            margin-bottom: toRem(24);
            span{
                position: relative;
                display: inline-block;
                font-size: toRem(20);
                line-height: toRem(28);
                padding: toRem(6) toRem(12);
                left: auto;
                bottom: auto;
                &::before{
                    border-radius: toRem(5);
                    width: toRem(11);
                    transform: translate(80%, -50%);
                }
            }
            p{
                margin-left: toRem(28);
                display: inline-block;
                font-size: toRem(20);
                line-height: toRem(28);
                max-width: none;
            }
        }
        &__process{
            width: toRem(3);
            min-height: 100%;
            bottom: 0;
            right: 0;
            transform-origin: bottom;
            transform: scaleY(0);
        }
        &__bottom{
            bottom: 50%;
            transform: translate(0,50%);
        }
        &__slide-count{
            font-size: toRem(24);
            line-height: toRem(34);
            right: toRem(60);
            top: 0;
            span{
                position: relative;
                top: toRem(20);
            }
        }
        &__wrapper{
            position: relative;
        }
        &__text{
            margin-left: span(1 of 12);
            span{
                font-size: toRem(20);
                line-height: toRem(28);
                max-width: none;
            }
            h2{
                margin-top: toRem(30);
                font-size: toRem(64);
                max-width: toRem(600);
            }
            p{
                font-size: toRem(16);
                line-height: toRem(22);
                color: #fff;
                margin-top: toRem(20);
                max-width: toRem(480);
            }
            
        }
        &__button{
            &--transparent{
                display: inline-block;
                vertical-align: bottom;
            }
            &--yellow{
                margin-left: span(1 of 12);
                vertical-align: bottom;
                display: inline-block;
                margin-top: toRem(64);
                margin-right: toRem(16);
            }
            &--prev,&--next{
                width: toRem(40);
                height: toRem(40);
                margin-bottom: toRem(2);
                &::before{
                    font-size: toRem(14);
                }
            }
            &--next{
                position: absolute;
                right: 0;
            }
            &--prev{
                margin-right: 0;
            }
        }
    }
}





