.articles{
    padding-top: toRemM(70);
    padding-bottom: toRemM(64);
    overflow-x: hidden;
    &__text{
        margin-bottom: toRemM(32);
        @media (max-width: 1199px) {
            p{
                display: none;
            }
        }
    }
    &__wrapper{
        margin: 0 -7%;
    }
    &__item{
        display: inline-block;
        vertical-align: top;
        margin-bottom: toRemM(4);
    }
    &__button{
        display: block;
        margin: toRemM(28) auto 0;
        &.hide{
            opacity: 0;
        }
    }
    @media (min-width: 768px) {
        &__wrapper{
            margin: 0;
        }
        &__item{
            margin-right: toRemM(4);
        }
    }
    @media (min-width: 1200px) {
        padding: toRem(120) 0;
        &__text{
            margin-bottom: toRem(40);
        }
        &__wrapper{
            margin-right: -1.6666667rem;
        }
        &__item{
            margin-bottom: toRem(24);
            margin-right: toRem(20);
        }
        &__button{
            margin: toRem(25) auto 0;
        }
    }
}
.article-card{
    cursor: pointer;
    position: relative;
    height: 77.7vw;
    width: 100%;
    overflow: hidden;
    &__image{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
    &__background{
        min-width: 100%;
        min-height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 100%;
    }
    &__logo{
        position: absolute;
        top: toRemM(24);
        left: 6.25%;
        height: toRemM(60);
        width: toRemM(76);
    }
    &__wrapper{
        position: absolute;
        bottom: toRemM(24);
        left: 6.25%;
        right: 6.25%;
        z-index: 2;
        h4{
            font-family: reg;
            font-size: toRemM(20);
            line-height: toRemM(28);
            margin-bottom: toRemM(8);
            color: #fff;
            border-bottom: 1px solid rgba(#fff, 0.5);
            display: inline-block;
        }
        p{
            font-size: toRemM(14);
            line-height: toRemM(20);
            max-width: toRemM(260);
            color: rgba(#fff, 0.8);
        }
    }
    &--background-color{
        .article-card{
            &__image{
                background-color: $black;
            }
        }
    }
    &--big{
        .article-card{
            &__background{
                position: absolute;
                bottom: 0;
                right: 0;
                top: auto;
                left: auto;
                height: 80%;
                min-width: 57%;
                transform: translate(0, 0);
            }
        }
    }
    @media (max-width: 1199px){
        @media (min-width: 768px) {
            height: 50vw;
            width: calc(50% - 0.25rem);
        }
        &::before{
            content: '';
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            background: rgb(0,0,0);
            background: -moz-linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 91%);
            background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 91%);
            background: linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 91%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
        }
        &__button{
            display: none;
        }
        &__wrapper{
            span{
                display: none;
            }
        }
    }
    @media (min-width: 1200px) {
        &__wrapper{
            h4{
                border: none;
            }
        }
        &__background{
            width: 100%;
            height: auto;
        }
        &__logo{
            top: toRem(22);
            left: toRem(30);
            height: toRem(110);
            width: toRem(136);
        }
        &--main{
            width: calc(100% - 1.66667rem);
            height: toRem(410);
            &:before{
                content: '';
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                background: rgb(0,0,0);
                background: -moz-linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 91%);
                background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 91%);
                background: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 91%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
            }
            .article-card{
                &__background{
                    top: auto;
                    bottom: 0;
                    transform: translate(-50%,0)
                }
                &__wrapper{
                    left: toRem(32);
                    right: toRem(32);
                    bottom: toRem(40);
                    span{
                        display: block;
                        font-size: toRem(14);
                        line-height: toRem(20);
                        color: rgba(#fff, 0.5);
                        margin-bottom: toRem(4);
                    }
                    h4{
                        font-size: toRem(24);
                        line-height: toRem(28);
                        color: #fff;
                        font-family: bold;
                        margin-bottom: toRem(12);
                    }
                    p{
                        font-size: toRem(14);
                        line-height: toRem(20);
                        color: #fff;
                        max-width: toRem(350);
                        margin-bottom: toRem(20);
                    }
                }
            }
        }
        &--big,&--small{
            width: calc(32.34% - 0.83333rem);
            .article-card{
                &__image{
                    position: relative;
                }
                &__wrapper{
                    position: relative;
                    left: auto;
                    right: auto;
                    bottom: auto;
                    padding: toRem(16) 0;
                    box-sizing: border-box;
                    h4{
                        color: $primary;
                        font-size: toRem(20);
                        line-height: toRem(28);
                        margin-bottom: toRem(4);
                    }
                    p{
                        font-size: toRem(16);
                        line-height: toRem(22);
                        color: $gray2;
                        max-width: none;
                    }
                }
            }
        }
        &--big{
            float: left;
            height: toRem(642);
            .article-card{
                &__background{
                    height: 100%;
                    width: auto;
                    min-height: 100%;
                    min-width: 100%;
                }
                &__image{
                    height: toRem(537);
                }

            }
        }
        &--small{
            height: toRem(310);
            .article-card{
                &__image{
                    height: toRem(204);
                    max-height: 238px;
                    overflow: hidden;
                    @media (min-width: 1560px){
                        max-height: none;
                    }
                }
            }
        }
    }
}
